#floatingButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#floatingButton:hover {
    background-color: #0056b3;
}

#deleteWordButton {
    background: #e35252;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

#word {
    display: inline-block;
}