#floatingButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#floatingButton:hover {
    background-color: #0056b3;
}

#wordBook_body {
    width: 32em;
}

.deleteWordButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.word {
    display: inline-block;
}
.t {
    background-color: #FFFFFF;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: initial;
    text-align: left;
    max-width: 100%;
    word-break: break-all;
}

.div_category {
    background-color: #C0E1EE;
    text-align: center;
    font-size: 2rem;
    padding: 0.1rem;
    font-weight: bold;
}

.div_word {
    background-color: #98CEE4;
    margin: 1rem;
    padding: 0.1rem;
    font-size: 1rem;
    font-weight: normal;
}

.div_wordName {
    background-color: #F2F2F2;
    font-size: 1.2rem;
    font-weight: bold;
}

.div_wordData {
    background-color: #F2F2F2;
    font-size: 0.8rem;
    font-weight: normal;
}

.div_debugInfo {
    background-color: #F2F2F2;
    font-size: 80%;
    cursor: pointer;
}

.button_delete {
    background-color: #FF5B5B;
    font-size: 80%;
    color: white;
    cursor: pointer;
}

.saved_word {
    cursor: pointer;
}

.highlight {
    background-color: greenyellow;
    font-weight: bold;
    cursor: pointer;
}